{% extends "common.html" %}
{% block title %}About{% endblock %}
{% block body %}
<main class="container-lg">
    <div class="row justify-content-center">
        <div class="col-md-7 mt-5">
            <h1>Toasty Antifreeze</h1>
            <p>Toasty is a chatbot on <a href="https://chat.stackexchange.com">Stack Exchange Chat</a> designed to keep rooms from freezing.</p>
            <p>If you're here you probably already know what that means. This page only really exists because I needed a third link to make the footer look good.</p>
            <p>Enjoy this complimentary video, I guess.</p>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/nA30twyb2L8?si=Dd1QMHEcIfibYQeN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}