{% extends "common.html" %}
{% block title %}{{ code }}?!{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/error.css">
{% endblock %}
{% block body %}
<main class="container-lg">
    <div class="row justify-content-center">
        <div class="col centercol">
            <h1 class="bigboy">{{ code }}</h1>
            <p class="fw-bold fs-2 mb-0">{{ message }}</p>
            <hr class="w-50 mx-3">
            {% if code in range(400, 403) %}
            <p>You seem to have encountered an error. Don't poke your nose where it doesn't belong.</p>
            {% else %}
            <p>You seem to have encountered an error. Sorry about that.</p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}