{% extends "common.html" %}
{% set activePage = "status" %}
{% block title %}Status{% endblock%}
{% block body %}
<main class="container-lg">
    <div class="row">
        <div class="col-sm-4">
            <img src="/static/resources/logo-temp.svg" width="150">
        </div>
        <div class="col-sm-8">
            Status goes here. Sunt ad quis veniam occaecat anim quis aliqua. Fugiat deserunt proident Lorem esse est voluptate minim qui dolore excepteur veniam dolore. Cillum mollit aliqua cillum ipsum cillum elit velit non nulla excepteur voluptate sint. Pariatur qui amet nulla pariatur. Esse sint nulla eu ullamco id elit est magna consectetur sint pariatur consequat dolore adipisicing.
        </div>
    </div>
</main>
{% endblock %}