{% extends "common.html" %}
{% set activePage = "login" %}
{% block title %}Log in{% endblock%}
{% block head %}
<link rel="stylesheet" href="/static/login.css">
{% endblock %}
{% block body %}
<main class="container-lg">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="login-box">
                <h1 class="fs-3 text-center mb-0">Log in</h1>
                <hr class="w-50 align-self-center mx-1">
                <a class="btn btn-plain" href="{{ '/auth/login/se?redirect={}'.format(redirect) if redirect is not none else '/auth/login/se' }}"><img src="/static/resources/se-icon.svg" height="24" class="d-inline-block align-top">Log in with Stack Exchange</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}